<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>RandomPost - coronatimes</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='js/cube-centered.js') }}"></script>
    </head>
    <body style="overflow: scroll;position: relative;margin-left: 10px; margin-right: 20px;">
		<br/>
		<br/>
		<div class="post">
			<div style="font-size:2em;font-weight:bold;"> Top ten things to do while quarantine (corona-time)</div>
			<div>Author: Giri, Published on: 25 March 2020</div>
			<h2>1. Binge watch : Netflix, Prime and Hotstar</h2>
			<div>  Watching movies and series is always fun. But when it comes to isolation or in these times of quarantine, it becomes a top to-do stuff. If you don't have an account, just create an account and get a 1-month trial period in netflix. I believe every streaming app gives some trial period. if you still don't want to use those, just stream some videos in youtube. Happy binge watching</div>
			<h2>2. Video games </h2>
			<div>  Are you sick not meeting your friends. You like games? Thanks to multiplayer interactive games like PUBG and other battle royal games which brings you close to reality, you can connect with your friends and sho(o/u)t around. If you are not a fan of blood and war, even a 8-ball pool,candy crush will help eat your time.  </div>
			<h2>3. Learn new stuffs</h2>
			<div>  In this internet age, learning some new skills become easy as never before. There are multiple blogs and vlogs to teach you "How to create/do stuffs". If you are a techie, you can subscribe some online tutorials and go on with it. In these peaceful times, one can also learn interesting stuffs like pottery, painting, embroidery etc. You can learn some classic stuffs as well from your grandma or grandpa.</div>
			<h2>4. Reading books </h2>
			<div>  Reading books is not just a pass time hobby, it will surely improve the quality of life. Take out the books from your book shelves and start reading. If you don't have any in your kitty, you can read ebooks by downloading kindle or google play books. Please do ping me or your friends, if you want some names of interesting books. </div>
			<h2>5. Re-visit memories </h2>
			<div>  Old is good. Yeah, you can re-visit your old albums, ceremony recordings and you babies year-on-year growth photos. It will surely put a smile on your face. And don't forget to capture your photos and videos now, you can tell stories about these times to your dear ones after some years </div>
			<h2>6. Indoor games </h2>
			<div>  If you really wanted some time out of digital gadgets, indoor games is one of very few options we have in hand. Carrom, Cards and Business games can be played as a group of two to four people. If you don't have the necessary game boards, you just need a pen and paper to play games like tik-tok-toe. </div>
			<h2>7. Cook new dish </h2>
			<div>  Cooking is a real stress buster. You can try to cook some new dishes with the available ingredients. In these tough times, when food delivery service is not available, it is useful to learn cooking. P.S. Avoid cooking bats or snakes  </div>
			<h2>8. Workout </h2>
			<div>  You might hit some extra pounds staying in home for a week. Imagine what happens for a month. So, make it a mandate and spend atleast an hour every day, to reduce the lockdown fat growth.</div>
			<h2>9. Clean your home </h2>
			<div>  It is not every one's cup of tea. But, some people do really like cleaning and organizing their homes. Even if you don't like it, you can do it for your well being and for this time being</div>
			<h2>10. Eat, Sleep, Repeat </h2>
			<div>  Who knows, we might never get again such a leisure home time away from office, traffic and pollutions. After all, we work and earn, hoping for a nice meal and a good night's sleep. So, if you really don't like any of the above stuffs, without any hesitations you can eat n zzzZZZ.... </div>
			<br/><div>&nbsp;&nbsp;&nbsp;&nbsp;Apart from the above ten, there are lot more interesting stuffs to do like Exploring new apps, writing some interesting content and forward in whatsapp and twitter, create some memes and funny mock videos. If you are with your family now, spend some quality time and open up some quality conversation with them. Even though this is a fearful times, we might never get this kinda togetherness again. And sorry, going out and having fun is never an option. Take care and stay safe... </div>
			<br/>

		</div>
    </body>
</html>
