<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>CSS 3D Cube</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='js/cube-centered.js') }}"></script>
    </head>
    <body>
		<div class="topnav">
		  <div class="topnav-left">
			<img src="">
		  </div>
		  <a class="active" href="https://www.randompost.in/">Home</a>
		</div>
		<br/>
		<div class="post">
			<h1> Top ten things to do while quarantine (corona-time)</h1>
			<p><a href="mailto:giriat2022@gmail.com" class='author-name'>gzix</a>: I am a life enthusiast. I loves to write about ... random stuffs </p>
			<h2>Binge watch : Netflix, Prime and Hotstar</h2>
			<p>Watching movies and series is always fun. But when it comes to isolation or in these times of quarantine, it becomes a top to-do stuff. If you don't have an account, just create an account and get a 1-month trial period in netflix. I believe every streaming app gives some trial period. if you still don't want to use those, just stream some videos in youtube. Happy binge watching</p>
			<br/>

			<h2>Games: Play station or Mobile games</h2>
                        <p>Are you sick not meeting your friends. You like games? Thanks to multiplayer interactive games like PUBG and other battle royal games which brings you close to reality, you can connect with your friends and sho(o/u)t around. If you are not a fan of blood and war, even a candy crush will help eat your time </p>
                        <br/>
		</div>
    </body>
</html>
